<DOCTYPE! html>
    <html>
   <head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

     <link rel="stylesheet" type="text/css" href="stylesheets/ex1.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Store</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Catlog</a></li> 
      <li><a href="#">Contact</a></li> 
    </ul>
  </div>
</nav>
<div class="container"  ng-app="productpage">
 
     <div class="row">
    <div class="col-sm-4">
            <div class="list-group">
              <a href="#" class="list-group-item active">Cras Justo Odio</a>
              <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Third item</a>
            </div>
         
         </div>
    <div class="col-sm-8"  ng-controller="productcontroller">
        <form class="form-horizontal" role="form"> 
            <div class="form-group">
                <label class="control-label col-sm-2" for="search">Search</label> 
                <div  class="col-sm-4">
                <input type="search" class="form-control" placeholder="Search">
                </div>
            </div>
            
          <div class="form-group">
                <label class="control-label col-sm-2" for="additem">Add Item</label>
           
            <div class="col-xs-3"><input type="text" class="form-control" placeholder="Item name" id="itemname" ng-model ="prod.itemname"></div>
              <div class="col-xs-3"><input type="text" class="form-control"  placeholder="Description" id="desc" ng-model="prod.desc"></div>
              <div class="col-xs-3"><input type="text" class="form-control" placeholder="Price" id="price" ng-model="prod.price"></div>
              <button type="button" class="btn btn-default" id="add" ng-click="addProduct()">Add</button>
 
             
            </div>
        </form>  
        
        <script src="javascripts/script.js"></script>
         <script src="javascripts/angular.min.js"></script>
        
        <div>
          
        <div class="well well-lg" ng-repeat="prod in products">
            <div><h3>{{prod.itemname}}</h3>
                 <p class="pull-right"><span class="glyphicon glyphicon-remove-sign a" id="{{prod.id}}" ng-click="deleteProduct(prod.id)"></span></p>
               <span class="label label-primary pull-right a ">{{prod.price}}</span>
            </div>
        <h6>{{prod.desc}}</h6>
        </div>
            
        </div>
    </div>
  </div>
</div>
        
    <script>
     var productpagemod = angular.module('productpage',[]);
        
        productpagemod.factory('factoryproducts', function($http){
        
            datafactory = {};
        
            datafactory.getProducts = function(){
                
         return $http({
                  method: 'GET',
                  url: '/products'
                });             
            };
            
            return datafactory;
        });
        
        productpagemod.controller('productcontroller', function($scope,$http){
            
             $scope.products = [];      
                                        
            function getProducts() {
                
                $http({                  
                    method: 'GET',
                    url: '/products'
                })
                .success(function (response) {      
                    $scope.products = response;    
                });
            }
         
            getProducts();
            
            
            $scope.addProduct = function(){
                
                var prodObj = {
                    itemname :  $scope.prod.itemname,
                    desc : $scope.prod.desc,
                    price : $scope.prod.price
                
                };
                
                  $http({                  
                    method: 'POST',
                    url: '/products',
                    data: prodObj
                })
                .success(function (response) {      
                     $scope.products.push(response);
                      
                });
            };
            
            $scope.deleteProduct = function(id){
                
                $http({                  
                    method: 'DELETE/'+id,
                    url: '/products',
                })
                .success(function (response) {      
                     $scope.products.push(response);
                      
                });
            };
            
//         factoryproducts.getProducts().then(function successCallback(response) {
//                        console.log("response "+response);
//                          $scope.products =response;       
//                  }, function errorCallback(response) {
//            
//                  });
           
        
        });
    
    </script>
    
        </body>
    </html>
    </DOCTYPE!>